
<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<h1>${Text(_("TEACHING LEARNING CENTRE"))}</h1>
<p style="font-size: 1.5rem; font-weight: bold;">${Text(_("RAMANUJAN COLLEGE"))}</p>
<p style="font-size: 1.2rem; font-weight: bold; margin-top: -15px;">${Text(_("UNIVERSITY OF DELHI"))}</p>
<p style="font-size: 1.2rem; margin-top: -10px;">${Text(_("Pandit Madan Mohan Malaviya National Mission on Teachers and Teaching"))}</p>
<p style="font-size: 1.2rem; margin-top: -15px;">${Text(_("Ministry of Education"))}</p>
